body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}
h1, h2 {
    position: absolute;
    left: 20px;
    top: 10px;
    font-family: "Proxima Nova", Montserrat, sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: #005DAA; /* offical UK Kentucky blue */
}
h2 {
    top: 50px;
    font-size: 1.4em;
}

.county {
    stroke: rgb(78, 71, 71);
    stroke-opacity: 0.5;
    fill:#ddc;
}

.hover {
    fill:#005DAA;
}