body {
  margin: 0px;
  overflow: hidden;
}

.line-path {
  fill: lightcoral;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.2em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.domain {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 1.4em;
  fill: rgb(53, 52, 51);
}

.title {
  font-size: 1.8em;
  fill: #635F5D;
}